{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} GRN Approval{% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="Appgrnaprvlsmry" ng-controller="Ctrlgrnaprvlsmry" class="container container1">
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>GRN Approval Summary </h4>
            </div>
        </div>
        </br>
 <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>GRN Number</label>
                        <input id="ponum" maxlength="256" ng-model="grn_num" ng-change="filtersearch()"/>
                    </md-input-container>
                </div>
               <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Supplier</label>
                        <input id="supplr" maxlength="256" ng-model="grn_supplier" ng-change="filtersearch()"/>
                    </md-input-container>
                </div>


 </div> </div>

        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
               <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                       md-progress="deferred">
                    <thead class="header">
                    <tr>
                        <th>S.No</th>
                        <th>GRN No</th>
                        <th>PO No</th>
                        <th>DC No</th>
                        <th>Invoice No</th>
                        <th>Supplier</th>
                        <th>UOM</th>
                        <th>Received Quantity</th>
                        <th>Status</th>
                           <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="grn in grnheader.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:searchquery ">
                        <td>
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td>{{grn.grninwardheader_code }}</td>
                        <td>{{grn.poheader_no }}</td>
                        <td>{{grn.grninwardheader_dcnote }}</td>
                        <td>{{grn.grninwardheader_invoiceno}}</td>
                        <td>{{grn.supplier_name}}</td>
                        <td>{{grn.podetails_uom}}</td>
                        <td>{{grn.grninwarddetails_qty}}</td>
                        <td>{{grn.grninwardheader_status}}</td>
                        <td>
                             <span class="editlink" ng-click="grnapproval(grn.grninwardheader_gid,grn.supplier_gid,grn.grninwardheader_status)">
                               <i class="material-icons">visibility</i>
                                <md-tooltip>View</md-tooltip>
                             </span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="10">
                            <ul uib-pagination total-items="grnheader.length" ng-model="currentPage" max-size="maxSize"
                                class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>



                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

</div>
</div>
{% endverbatim %}
<script>
var myApp = angular.module('Appgrnaprvlsmry', ['ngMaterial','ui.bootstrap','ngMessages']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});

myApp.controller('Ctrlgrnaprvlsmry', ['$scope','Servicegrnaprvlsmry','$mdDialog','$window','$filter', function($scope,Servicegrnaprvlsmry,$mdDialog,$window,$filter) {
    $scope.currentPage = 1;
    $scope.maxSize = 3;
    $scope.itemsPerPage = 10;
        $scope.maintable=[];
        var get_employ=Servicegrnaprvlsmry.getcusomter()
       get_employ.then(function (result){
       $scope.grnheader=[];
        $scope.maintable =result.data;
        $scope.grnheader = $scope.maintable;
        $scope.userTotalItems = $scope.poheader.length;
        $scope.Totalpages = Math.ceil($scope.grnheader.length / $scope.itemsPerPage);
            }),function(){
        alert('no data');
         };

    $scope.filtersearch = function () {
        $scope.grnheader = $filter('filter')($scope.maintable, { grninwardheader_code: $scope.grn_num, supplier_name: $scope.grn_supplier });
        $scope.userTotalItems = $scope.grnheader.length;
    }

        $scope.grnapproval=function(grnheader_gid,supplier_gid,status){
             var grnheader_approval = {
            grnheader_gid: grnheader_gid,
            grnheader_approve: "YES",
        };

        sessionStorage.setItem('grn_header', JSON.stringify(grnheader_approval));
        $window.location.href = "grn_details_view";

<!--       var getprheaderstatus=Servicegrnaprvlsmry.getstatusprocess('gal_trn_tgrninwardheader',grnheader_gid,status)-->
<!--       getprheaderstatus.then(function (result){-->
<!--            if(result.data=='Proceed'){-->
<!--                $window.location.href = "grnaprvlcreate";-->
<!--            }-->
<!--            else{-->
<!--            alert(result.data);-->
<!--               var get_employ=Servicegrnaprvlsmry.getcusomter()-->
<!--       get_employ.then(function (result){-->
<!--       $scope.grnheader=[];-->
<!--        $scope.maintable =result.data;-->
<!--        $scope.grnheader = $scope.maintable;-->
<!--        $scope.userTotalItems = $scope.poheader.length;-->
<!--        $scope.Totalpages = Math.ceil($scope.grnheader.length / $scope.itemsPerPage);-->
<!--            }),function(){-->
<!--        alert('no data');-->
<!--         };-->
<!--            }-->
<!--        }),function(){-->
<!--             alert('no data');-->
<!--         };-->

       }
    }]);

 myApp.service("Servicegrnaprvlsmry", function ($http) {
     this.getcusomter = function (d) {
        var response = $http.get(Appname+"/get_grnapprovalget/");
         return response;
    }

    this.getstatusprocess= function (tablename,gid,status) {
        var response = $http.post(Appname+"/get_allqueue_status/",{params:{
         "table_name":tablename,
        "gid":gid,
        "status":status}});
        return response;
    }

  });

</script>
{% endblock %}