{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}Commodity{% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="commodity" ng-controller="Ctrlcommodity" class="container container1" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4> Commodity Product Mapping</h4>
            </div>
        </div>
        <div class="modal-body popup-body">
            <div class="row" ng-hide="IsHidden1">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Commodity Code</label>
                        <input type="text"
                               ng-model="chk.Code"
                               ng-change="ccbsglno(chk)"
                               autocomplete="off">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Commodity Name</label>
                        <input type="text"
                               ng-model="chk.name"
                               ng-change="ccbsglno(chk)"
                               autocomplete="off">
                    </md-input-container>
                </div>
                <div class="col-md-3" ng-hide="true">
                    <md-input-container class="md-block inputcontainer">
                        <label>Commodity Status</label>
                        <input type="text"
                               ng-model="chk.name1"
                               ng-change="ccbsglno(chk)"

                               autocomplete="off">
                    </md-input-container>
                </div>
                <div class="col-md-3" style="margin-top:12px">
                    <md-button class="md-fab md-mini md-primary custbutton"
                               ng-click="Addcommodity()">
                    <md-icon>add</md-icon>
                    <md-tooltip>Create New</md-tooltip>
                </md-button>
                </div>
            </div>
        </div>
        <!-- Commodity table-->
        <div class="row table-responsive" ng-hide="IsHidden1">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table  table-striped table-bordered table-condensed table-hover">
                    <thead class="header">
                    <tr>
                        <th>S.No</th>
                        <th>Commodity Code</th>
                        <th>Commodity Name</th>
                        <th>Assign Product</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center"
                        ng-repeat="pr in commodityname.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:search:strict">
                        <td>
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td>{{pr.commodity_code }}</td>
                        <td>{{pr.commodity_name}}</td>
                        <td>
                                <span class="editlink" ng-click="showHideEdit(pr.commodity_gid)">
                                    <i class="material-icons">edit</i>
                                    <md-tooltip>View</md-tooltip>
                                </span>
                        </td>
                    </tr>
                    <tr ng-show="commodityname.length ==  0">
                        <td class="warning" colspan="8">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul uib-pagination total-items="commodityname.length" ng-model="currentPage"
                                max-size="maxSize" class="pagination-sm" boundary-links="true"
                                items-per-page="itemsPerPage"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--Assign Product-->
        <div ng-hide="IsHidden">
            <div class="col-lg-12 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Assign Product
                        <div class="pull-right" style="color:black;">
                            <input type="text" ng-model="user_search" class="textboxgeneral" placeholder="Search Product"
                                   style="width: 150px;height: 25px;"/>
                        </div>
                    </div>
                    <div class="panel-body" style="height: 200px;overflow: auto;">
                        <div>
                            <ul>
                                <li ng-class="{selected: user.ischecked}"
                                    ng-repeat="user in prcat_list|filter:user_search">
                                    <label>
                                        <input type="checkbox" ng-model="user.ischecked" ng-click="productarr(user)"/>
                                        {{user.product_name}}
                                    </label>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-sm-8" style="text-align:right; ">
                    <md-button class="md-raised" value="Close" ng-click="close()">Close</md-button>
                    <md-button class="md-raised custbutton" ng-click="savedetail();" ng-disabled="createrole.$invalid">
                        Submit
                    </md-button>
                </div>
            </div>
        </div>
        <div ng-include="'commodityadd'"></div>
    </div>
</div>
{% endverbatim %}
<script>
    var app = angular.module('commodity', ['ngMaterial', 'ui.bootstrap']).config(function ($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });

    app.directive('numbersOnly', function () {
    return {
        require: 'ngModel',
        link: function (scope, element, attr, ngModelCtrl) {
            function fromUser(text) {
                if (text) {
                    var transformedInput = text.replace(/[^0-9]/g, '');

                    if (transformedInput !== text) {
                        ngModelCtrl.$setViewValue(transformedInput);
                        ngModelCtrl.$render();
                    }
                    return transformedInput;
                }
                return undefined;
            }
            ngModelCtrl.$parsers.push(fromUser);
        }
    };
});

app.directive('letterOnly', function () {
    return {
        require: 'ngModel',
        link: function (scope, element, attr, ngModelCtrl) {
            function fromUser(text) {
                if (text) {
                    var transformedInput = text.replace(/[^a-zA-Z]/g, '');

                    if (transformedInput !== text) {
                        ngModelCtrl.$setViewValue(transformedInput);
                        ngModelCtrl.$render();
                    }
                    return transformedInput;
                }
                return undefined;
            }
            ngModelCtrl.$parsers.push(fromUser);
        }
    };
});

    app.controller('Ctrlcommodity', ['$scope', '$filter', '$mdDateLocale', 'commoditysummary', '$window', '$mdDialog',
        '$element',
        function ($scope, $filter, $mdDateLocale, commoditysummary, $window, $mdDialog, $element) {


            $scope.IsHidden = true;
            $scope.IsHidden1 = false;
            $scope.currentPage = 1;
            $scope.commo=[];

            $scope.maxSize = 3;
            $scope.itemsPerPage = 10;
            $scope.maintable=[];
            $scope.AWNNO='';
            //loading
            $scope.loading = function () {
                $mdDialog.show({
                    templateUrl: 'loaderSpinner',
                    parent: angular.element(document.body),
                    clickOutsideToClose: false
                });
            };
            $scope.close1=function()
            {
            debugger;
            $window.location.href="commodity";
            }




            $scope.endloading = function () {
                $mdDialog.hide();
            };
            $scope.load = function () {
                $scope.loading()
                $window.location.href = "commodity";
            }

            $scope.ccbsglno=function(x)
            {
            debugger;
                $scope.commodityname=$filter('filter')($scope.maintable,
                {
                "commodity_code":x.Code,
                "commodity_name":x.name
                })
             $scope.pageLength = $scope.commodityname.length;
             $scope.Totalpages = Math.ceil($scope.commodityname.length / $scope.itemsPerPage);
             $scope.pageLength = $scope.commodityname.length;

            }

            // awb no
                var data ={
                            "Params":
                                   {     "FILTER":{
                                                   },
                                         "CLASSIFICATION":{
                                                            "Entity_Gid":1
                                                          }
                                   }
                          }

                 var data_int = {
                                Type: 'COMMODITY_GENERATE_NO',
                                Sub_Type: 'SINGLE',
                                data: data
                                };

         var getawn = commoditysummary.getawndata(data_int)
           getawn.then(function(result) {
                debugger;
                $scope.AWNNO = result.data.DATA;
                //alert(JSON.stringify($scope.AWNNO));
            }, function(err) {
                alert('No data!.');
            }).finally();




            //Session Details
            var detail = JSON.parse(sessionStorage.getItem('today'));
            $scope.employgid = detail.employee_gid;
            $scope.entity_gid = detail.entity_gid;
            //Add commodity
            $scope.Addcommodity = function ()
            {
                $scope.commo.invnum=$scope.AWNNO;
                modalshow('mdl_present');
            }
            //Save add commodity
            $scope.save = function (commo) {
                debugger;
                for (i = 0; i < $scope.commodityname.length; i++) {
                    var invname = $scope.commodityname[i].commodity_name;
                    var invstats = $scope.commodityname[i].commodity_code
                    if (invname == commo.invnums) {
                        alert("Duplicate Commodity Name is not allowed ..!!")
                        commo.invnum = "";
                        commo.invnums = "";
                        return false;
                    }
                    else if(invstats == commo.invnum)
                    {
                        alert("Duplicate Commodity Code is not allowed ..!!")
                        commo.invnum = "";
                        commo.invnums = "";
                        return false;
                    }

                }

                debugger;
                var data = {
                    "Params": {

                        "FILTER": {
                            "Commodity_Code": commo.invnum,
                            "Commodity_Name": commo.invnums,
                            "Commodity_Status": 'pol'
                        },
                        "CLASSIFICATION": {
                            "Entity_Gid": $scope.entity_gid,
                            "Create_By": $scope.employgid

                        }
                    }
                }

                var data_int = {
                    Action: 'INSERT',
                    data: data

                };

                var Openpo = commoditysummary.get_pendingdata(data_int);
                Openpo.then(function (result) {
                    debugger;
                    $scope.Openpo_data = JSON.parse(result.data)
                    if ($scope.Openpo_data == "SUCCESSFULLY INSERTED") {
                        alert("SUCCESSFULLY INSERTED")
                        $scope.load();
                    } else {
                        alert("error    ")
                    }
                })
            }
            //Commodity Details
            var commodityname = commoditysummary.commodity();
            commodityname.then(function (commodityname) {
                    debugger;
                    $scope.maintable=JSON.parse(commodityname.data);
                    $scope.commodityname = $scope.maintable;
                    $scope.pageLength = $scope.commodityname.length;
                    $scope.Totalpages = Math.ceil($scope.commodityname.length / $scope.itemsPerPage);
                    $scope.pageLength = $scope.commodityname.length;

                },
                function (err) {
                    alert('No data!.');
                }).finally();

            //Assign productview
            $scope.showHideEdit = function (pr) {


                $scope.IsHidden1 = true;
                $scope.IsVisible = $scope.IsHidden = false;
                $scope.commo = pr;
                var commodity_json = {
                    Action: 'Commodityprod_Get',
                    data: {},
                    endata: {
                        "Entity_Gid": $scope.entity_gid
                    }
                }
                var commoditypget = commoditysummary.commoditypgetsp(commodity_json);
                commoditypget.then(function (commoditypget) {

                        $scope.prcat_get = commoditypget.data;
                        $scope.exemapping = $filter('filter')($scope.prcat_get, {
                            "commodityprod_commoditygid": pr
                        }, true);
                    },
                    function (err) {
                        alert('No data!.');
                    }).finally();

                //product details
                var productname = commoditysummary.getproductname();
                productname.then(function (productname) {
                        $scope.prcat_list = JSON.parse(productname.data)
                        for (i = 0; i < $scope.exemapping.length; i++) {
                            prod_gid = $scope.exemapping[i].commodityprod_productgid
                            if (prod_gid > 0) {
                                for (j = 0; j < $scope.prcat_list.length; j++) {
                                    prod_gid2 = $scope.prcat_list[j].product_gid;
                                    if (prod_gid == prod_gid2) {
                                        $scope.prcat_list[j].ischecked = true;

                                    }
                                }
                            }
                        }
                    },
                    function (err) {
                        alert('No data!.');
                    }).finally();
            }
            //close
            $scope.close = function () {
                $scope.IsHidden1 = false;
                $scope.IsVisible = $scope.IsHidden = true;
            }
            //select multi product
            $scope.savedetail = function () {
                $scope.productt = [];
                for (i = 0; i < $scope.prcat_list.length; i++) {
                    if ($scope.prcat_list[i].ischecked) {
                        prodid = $scope.prcat_list[i].product_gid;
                        $scope.productt.push(prodid);
                    }
                }


                debugger;
                var data = {
                    "Params": {
                        "FILTER": {
                            "Commodityprod_Commoditygid": $scope.commo,
                            "Commodityprod_Productgid": $scope.productt,
                        },
                        "CLASSIFICATION": {
                            "Entity_Gid": $scope.entity_gid,
                            "Create_By": $scope.employgid
                        }
                    }
                }

                var data_int = {
                    Action: 'INSERT',
                    data: data
                };

                var Openpo = commoditysummary.commoditysave(data_int);
                Openpo.then(function (result) {
                        $scope.Openpo_data = JSON.parse(result.data)
                        if ($scope.Openpo_data == "SUCCESS") {
                            alert("SUCCESSFULLY INSERTED")
                            $scope.close();
                        } else {
                            alert('Fail to Insert')
                        }
                    },
                    function (err) {
                        alert('No data!.');
                    }).finally();
            }
        }
    ]);

    app.service("commoditysummary", function ($http) {
        //product name
        this.getproductname = function () {
            var response = $http.post(Appname + "/commo_product_name/")
            return response;
        }
        //Commodity details
        this.commodity = function () {
            var response = $http.post(Appname + "/commoditydropdown/")

            return response;
        }
        //Commodity  send data
        this.commoditysave = function (data) {
            var response = $http.post(Appname + "/commo_product/", data)
            return response;
        }
        //Commodity product get data
        this.commoditypgetsp = function (data) {
            var response = $http.post(Appname + "/commodity_pdata/", data)
            return response;
        }
        //add commodity
        this.get_pendingdata = function (data) {
            var respons = $http.post(Appname + "/commosave/", data
            );
            return respons;
        }
        // code generate
        this.gencode=function()
        {
        var response=$http.post(Appname + "/codegenerate/");
        return response;
        }
        // commodity_code_generate
         this.getawndata = function(data_int)
         {
            var response = $http.post(Appname + "/commodity_generate_code/", data_int);
            return response;
        }
    });

</script>
{% endblock %}