{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Approval {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="Appprapproval" ng-controller="Ctrlprapproval" class="container container1">
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>PR Approval</h4>
            </div>
        </div>
        </br>
        <div class="row row-search" ng-form="searchfrom">
            <form role="form">
                <div class="col-lg-2 col-sm-2">
                    <md-input-container class="md-block inputcontainer">
                        <label>PR No</label>
                        <input class="textboxgeneral" ng-model="prheader_no" ng-disabled="true" />
                    </md-input-container>

                </div>
                <div class="col-lg-2 col-sm-2">
                    <md-input-container class="md-block inputcontainer">
                        <label>PR Date</label>
                        <input class="textboxgeneral" ng-model="prheader_date| date:'dd-MMM-y'" ng-disabled="true" />
                    </md-input-container>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <md-input-container class="md-block inputcontainer">
                        <label>PR Raised By</label>
                        <input class="textboxgeneral" ng-model="employee_name" ng-disabled="true" />
                    </md-input-container>

                </div>
                <div class="col-lg-2 col-sm-2">
                    <md-input-container class="md-block inputcontainer">
                        <label>Commodity Name</label>
                        <input class="textboxgeneral" ng-model="commodity_name" ng-disabled="true" />
                    </md-input-container>

                </div>
                <!-- <div class="col-lg-1 col-sm-1">
                    <md-input-container class="md-block inputcontainer">
                        <label>PR Amount</label>
                        <input class="textboxgeneral" ng-model="pr_amount" ng-disabled="true" />
                    </md-input-container>

                </div> -->

                <div class="col-lg-4 col-sm-3">
                    <md-autocomplete md-clear-button="true" md-floating-label="Choose Approver" md-input-maxlength=126
                        md-item-text="item.employee_name" md-items="item in getcust(searchText)" md-min-length=0
                        md-no-cache="true" md-search-text="searchText" md-selected-item="lim"
                        md-selected-item-change="limit(lim)">
                        <md-item-template>
                            <td md-highlight-text="searchText">
                                <div class="col-sm-3"> <code>{{item.employee_code}}</code></div>

                                <div class="col-sm-6"> <span>{{item.employee_name}}</span></div>
                                <div class="col-sm-3"> <span
                                        style="color:#ff5e00!important;">{{item.delmat_limit}}</span></div>



                                </md-option>
                            </td>

                        </md-item-template>
                        <md-not-found>
                            No product matching "{{searchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </form>
        </div>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                    md-progress="deferred">
                    <thead class="header">
                        <tr>
                            <td align="right">
                                S.No
                            </td>
                            <td>
                                Product Catergory
                            </td>
                            <td>
                                Product Type
                            </td>
                            <td>
                                Product Name
                            </td>
                            <td>Supplier Name</td>
                            <td>
                                UOM
                            </td>
                            <td style="text-align:center;">
                                Quantity
                            </td>
                            <td style="text-align:left;">
                                Unit Price
                            </td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="prapp in approval_details.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:searchquery ">
                            <td>
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td>
                                {{prapp.productcategory_name}}
                            </td>
                            <td>
                                {{prapp.producttype_name}}
                            </td>

                            <td>{{prapp.product_name}}</td>
                            <td>{{prapp.supplier_name}}</td>

                            <td>{{prapp.uom_name}}</td>
                            <td align="right">{{prapp.prdetails_qty}}</td>
                            <td>{{prapp.supplierproduct_unitprice}}</td>
                            <td>{{prapp.prdetails_qty*prapp.supplierproduct_unitprice}}</td>
                        </tr>
                        <tr>
                            <td colspan="8" align="right"><b>PR Amount</b></td>
                            <td colspan="1" align="right">
                                {{pr_amount1}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <ul uib-pagination total-items="approval_details.length" ng-model="currentPage"
                                    max-size="maxSize" class="pagination-sm" boundary-links="true"
                                    items-per-page="itemsPerPage"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row  text-left">
            <form role="form" name="prapprovel">
                <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                        <label>Reject Remarks</label>
                        <input id="premarks" maxlength="56" ng-model="approvelreject" ng-change="approvelremark=''"
                            required />
                    </md-input-container>

                </div>

            </form>
            <!-- <md-button class="md-primary md-raised" ng-click="showConfirm($event)">
                Confirm Dialog
            </md-button> -->
            <div ng-if="status" id="status">
                    <b layout="row" layout-align="center center" class="md-padding">
                      {{status}}
                    </b>
                  </div>
            <div class="col-lg-3 col-sm-3 ">
                <md-input-container class="md-block inputcontainer">
                    <label>Approval Remarks</label>
                    <input id="prremarksapp" maxlength="56" ng-model="approvelremark" ng-change="approvelreject=''"
                        required />
                </md-input-container>
            </div>
            <div class="col-lg-6 col-sm-6 text-right">
                <md-button type="button" value="Close" class="btn btn-secondary" ng-click="Close()">Close
                </md-button>
                <md-button type="button" value="Reject" ng-click="prapprovedr('Reject',approvelreject)"
                    class="md-raised md-warn" ng-disabled="prapprovel.$invalid" ng-hide="hide">Reject
                </md-button>
                <md-button type="button" value="Approve" ng-click="prapproved('Approve',approvelremark,lim)"
                    ng-disabled="prapprovel.$valid" class="md-raised md-primary" ng-hide="hide">Approve
                </md-button>
            </div>
        </div>
    </div>
</div>
</div>
{% endverbatim %}
<script>
    var myApp = angular.module('Appprapproval', ['ngMaterial', 'ui.bootstrap', 'ngMessages']).config(function (
        $httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });

    myApp.controller('Ctrlprapproval', ['$scope', '$http', 'Serviceprapproval', '$mdDialog', '$window', '$filter',
        function ($scope, $http, Serviceprapproval, $mdDialog, $window, $filter) {
            $scope.currentPage = 1;
            $scope.maxSize = 3;
            $scope.itemsPerPage = 8;
            $scope.maintable = [];
            var detail = JSON.parse(sessionStorage.getItem('today'));
            $scope.employgid = detail.employee_gid;
            $scope.entity_gid = detail.entity_gid;
            $scope.empcode = detail.employee_code;
            var pr_gid = sessionStorage.getItem('prapp_gid');
            $scope.prheader_gid1 = sessionStorage.getItem('prapp_gid');
            $scope.totalamount = sessionStorage.getItem('prheader_totalamount');
            $scope.commoname = sessionStorage.getItem('commodity_gid');
            var get_prdetails = Serviceprapproval.getprdetails(pr_gid)
            get_prdetails.then(function (result) {
                    $scope.approval_details = result.data;
                    $scope.prheader_gid = $scope.approval_details[0].prheader_gid;
                    $scope.prheader_no = $scope.approval_details[0].prheader_no;
                    $scope.prheader_date = $scope.approval_details[0].prheader_date;
                    $scope.employee_name = $scope.approval_details[0].employee_name;
                    $scope.raisedby= $scope.approval_details[0].employee_gid;
                    $scope.status = $scope.approval_details[0].status;
                    $scope.pr_amount1 = $scope.approval_details[0].prheader_totalamount
                    $scope.pr_amount = $scope.approval_details[0].prheader_totalamount;
                    debugger;
                    $scope.como = $scope.approval_details[0].commodity_name;
                    $scope.commodity_name = $scope.approval_details[0].commodity_name;
                }),
                function () {
                    alert('no data');
                };
            $scope.pr_amount1 = $scope.pr_amount;

            $scope.prapprovedr = function (ev, remark, k) {

debugger;

                var data = {

                    "li_ref_gid": "pr",
                    'li_reftable_gid': $scope.prheader_gid1,
                    'ls_status': ev,
                    'lc_totype': 'C',
                    'li_tto': '',
                    "ls_remarks": "xx"
                    
                }
                var tran = Serviceprapproval.trnapp(data)
                tran.then(function (tran) {

                    var aa = JSON.parse(tran.data)
                })
                var k = '';
                var approvel = Serviceprapproval.getprapproved(ev, $scope.prheader_gid, remark, k);
                approvel.then(function (approvel) {

                    var approval = JSON.parse(approvel.data)
                    if (approval == "Success") {
                        if (ev == "Reject") {
                            alert("Rejected Successfully");
                        } else {
                            confirm("Approved Successfully");
                        }
                        $window.location.href = "pr_approve";
                        sessionStorage.setItem('prapp_gid', '');
                    } 

                }, function () {
                    alert('Records not found');
                });

            }


            $scope.showConfirm = function (ev) {
                debugger;
                // Appending dialog to document.body to cover sidenav in docs app
                
                var confirm = $mdDialog.confirm()
                    // .title('Would you like to delete your debt?')
                    // .textContent('All of the banks have agreed to forgive you your debts.')
                    // .ariaLabel('Lucky day')
                    // .targetEvent(ev)
                    .ok('save')
                    .cancel('Sounds like a scam');

                $mdDialog.show(confirm).then(function () {
                    //$scope.status = 'You decided to get rid of your debt.';
                }, function () {
                    //$scope.status = 'You decided to keep your debt.';
                });
            };
            //dropdown for appeoval
            $scope.getcust = gotocust;

            function gotocust(query) {
                var result = $filter('filter')($scope.approval, {
                    'employee_name': query,

                });
                return result;
            }
            $scope.prapproved = function (ev, remark, k) {
                debugger;
                // $scope.data = [];

                $scope.data = $filter('filter')($scope.limitamt, {
                    "employee_code": $scope.empcode,
                    "commodity_name": $scope.commo

                }, true);
                if (k == undefined) {
                    if ($scope.data != undefined) {
                        if( $scope.commoname!=$scope.data[0].commodity_name)
                        {
                            alert("You can't be an Pr approver ");
                            return false
                        }
                        if ( $scope.totalamount > $scope.data[0].delmat_limit ) {
                            alert("You can't be an Pr approver ");
                            var p=0;
                           // $scope.showConfirm(p)
                            return false
                        } else {
                            if (confirm('Are You sure for the Approval?')) {
                                var type = "C"
                                var ev = 'FinalApproved'
                                var tto = ''
                                var name = $scope.empcode;
                              //if the product is dts  


                            } else {
                                return false
                            }
                        }
                    }

                }
                if (k != undefined) {
                    var name = k.employee_code;
                    $scope.toemp = [];
                    $scope.toemp = $filter('filter')($scope.limitamt, {
                        "employee_code": k.employee_code,
                        "commodity_name": $scope.como

                    }, true);
                    if ($scope.toemp.length > 0) {
                        //limit than the amount
                        if ($scope.toemp[0].delmat_limit < $scope.totalamount) {
                            if (confirm("He dosen't have the approver rights?")) {
                                var type = "I";

                                var tto = k.employee_gid;
                            } else {
                                return false
                            }
                        }
                        if ($scope.toemp[0].delmat_limit >= $scope.totalamount) {
                            if (confirm("sending to next level approver?")) {
                                var type = "I";

                                var tto = k.employee_gid;
                            } else {
                                return false
                            }
                        }
                    } else {
                        if (confirm("He dosen't have the delmat Approval rights?")) {
                            var type = "I";

                            var tto = k.employee_gid;
                        } else {
                            return false
                        }
                    }
                }


                // var type = "I"
                var data1 = {


                    'li_reftable_gid': $scope.prheader_gid1,
                    'ls_status': ev,
                    'lc_totype': type,
                    'li_tto': tto,
                    "ls_remarks": ""
                }

                var tran = Serviceprapproval.trnapp(data1)
                tran.then(function (tran) {

                    var aa = JSON.parse(tran.data)
                })

                var approvel = Serviceprapproval.getprapproved(ev, $scope.prheader_gid, remark, name);
                approvel.then(function (approvel) {

                    var approval = JSON.parse(approvel.data)

                    if (approval == "Success") {
                        if (ev == "Reject") {
                            alert("Rejected Successfully");
                        } else {
                            alert("Approved Successfully");
                        }
                        $window.location.href = "pr_approve";
                        sessionStorage.setItem('prapp_gid', '');
                    } else {
                        alert(approvel.data);
                    }

                }, function () {
                    alert('Records not found');
                });
            }

            $scope.Close = function () {
                $window.location.href = "pr_approve";
                sessionStorage.setItem('prapp_gid', '');
            }
            var data = {
                'prheader_gid': parseInt($scope.prheader_gid1)
            }

            //Commodity Details

            var data = {
                'delmat_commoditygid': 0
            }
            var d = $scope.como;
            var params1 = {
                'params': data,
                'action': 'limit',
                'type': 'pr_Dir_limit',
                'amount': 0,
                'commodity_name': $scope.commoname
            }

            $scope.limitamt = [];
            //delmat Details
            var limitdata = Serviceprapproval.delmat(params1);
            limitdata.then(function (commoditylimitdataname) {
                debugger;
                var d = $scope.como;
                $scope.limitamt = JSON.parse(commoditylimitdataname.data);
                $scope.approval = JSON.parse(commoditylimitdataname.data);
               



                for (var i = 0; i < $scope.approval.length; i++) {
                    if ($scope.empcode == $scope.approval[i].employee_code) {
                        var index = i;
                        $scope.approval.splice(index, 1);
                        index= $scope.approval.length;

                    }
                    
                    if($scope.raisedby==$scope.approval[i].employee_gid)
                    {
                        var index = i;
                        $scope.approval.splice(index, 1);
                        index= $scope.approval.length;
                    }
                }
                $scope.approval =$filter('orderBy')($scope.approval, 'delmat_limit');






            })



        }
    ]);

    myApp.service("Serviceprapproval", function ($http) {
        this.getprdetails = function (prheader_gid) {
            var response = $http.post(Appname + "/Prdetail_get/", {
                params: {
                    'prheader_gid': prheader_gid,
                    'product_name': '',
                    'action': 'Details'
                }
            })
            return response;
        }
        this.getprapproved = function (ev, ev1, ev2, k) {
            var response = $http.post(Appname + "/Prapproval_set/", {
                params: {
                    "status_pr": ev,
                    "prheader": ev1,
                    "lsremaks": ev2,
                    "empname": k
                }
            });
            return response;
        }
        //delmat
        this.approvaldata = function (ev) {
            var response = $http.post(Appname + "/prodget/", ev);
            return response;
        }
        //Approval
        this.delmat = function (data) {
            var response = $http.post(Appname + "/approvalview/", data)

            return response;
        }
        //trnapp
        this.trnapp = function (data) {
            var response = $http.post(Appname + "/tranapproval/", data)

            return response;
        }
    });
</script>
<!-- <style>
md-autocomplete input::-webkit-input-placeholder {
    color:red !important;
}
md-autocomplete input:-moz-placeholder { /* Firefox 18- */
    color:red;
}

md-autocomplete input::-moz-placeholder {  /* Firefox 19+ */
    color:red;
}

md-autocomplete input:-ms-input-placeholder { 
    color:red;
}
</style> -->
{% endblock %}